.Chat_main
  .Chat_main__group-info
    .Chat_main__group-info__group
      .Chat_main__group-info__group__group-name
        = @group.name
      .Chat_main__group-info__group__group-member
        Member：
        - @group.users.each do |user|
          = user.name
    .Chat_main__group-info__edit
      = link_to edit_group_path(@group), class: "Chat_main__group-info__edit__btn" do
        Edit
  .Chat_main__message-list
    = render @messages
  .Chat_main__message-form
    = form_with model: [@group, @message], html: {class:"Chat_main__message-form__input-contents"}, local: true do |form|
      .Chat_main__message-form__input-contents__new-message
        = form.text_field :content, class:"Chat_main__message-form__input-contents__new-message__text", placeholder: "type a message"
        .Chat_main__message-form__input-contents__new-message__picture
          = form.label :image, class: "Chat_main__message-form__input-contents__new-message__picture__btn" do
            = icon('far', 'image', class: "Chat_main__message-form__input-contents__new-message__picture__btn__icon")
            = form.file_field :image, class: "Chat_main__message-form__input-contents__new-message__picture__btn__link"
      = form.submit 'Send',class:"Chat_main__message-form__input-contents__submit-btn"
